.Header-introduction {
    background-image: url(./images/coding\ image.jpg);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    max-height: 210px;
    min-height: 180px;
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center; 
    background-color: rgb(255, 253, 249);
    word-spacing: 2px;
    font-size: 20px;
    line-height: 150%;
} 

article {
    padding-top: 1%;
    padding-bottom: 1%;
}

h1 {
    padding-top: 1%;
}

h2 {
    font-size: 26px;
    color: rgb(226, 61, 102)
} 

.table {
    list-style-position: inside;
    font-size: 18px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
} 

th {
    color: rgb(103, 103, 255)
}

.html-tag {
    font-family: monospace;
}